
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
    background-color: #343a40 !important;
    color: white !important;
}

.nav-pills .nav-link {
    color: black !important; 
}
.text-highlight h5,
.text-highlight p {
  /* This creates a light shadow around the text, making it pop against any background */
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.9);
}
.pt-6 {
    padding-top: 6rem !important; 
}
.bento-card {
    background-color:white; 
    border-radius: 1rem; 
    padding: 2rem;
    height: 100%;
    border-width: 10px;
}
.profile-card {
    min-height: auto; 
    text-align: left; 
}

@media (min-width: 992px) {
    .profile-card {
        min-height: 500px;
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .profile-card > .d-flex {
        align-items: center !important; 
    }
}