/* navbar styling */
    .nav-menu .nav-link {
    font-size: 1.1rem;
    letter-spacing: 1.8px;
    color: #000;
    transition: color 0.3s ease;
    }

    .nav-menu .nav-link:hover,
    .nav-menu .nav-link.active {
    color: #007bff;
    }
/* line divider */
.line-divider {
    height: 1px; 
    border-top: 1px solid black; 
    background-color: transparent; 
}
/* profile circle */
.custom-profile-size {
    width: 130px;
    height: 130px;
}
/* style of justifyibg content */
    .text-justify-custom {
        text-align: justify;
    }